# Ignore the .env file containing secrets
.env

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore system files
.DS_Store

# Ignore logs
*.log

# Ignore virtual environments
venv/

# Ignore dataframes
dataframes/
embedding analysis/tsne.ipynb

# Ignore data json files
data/splits/
data/outputs/
data/logs/
