# Ignore the .env file containing secrets
.env


# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore system files
.DS_Store

# Ignore logs
*.log

# Ignore virtual environments
venv/
viz-env

# Ignore dataframes
dataframes/
embedding analysis/tsne.ipynb

# Ignore spreadsheet files
*.csv
*.xlsx

# Ignore data json files
data/splits/
data/outputs/
data/logs/
data/Too Large Chunks/
data/context output/
data/failure/
data
analysis_data/
images/

